li {
color: green;
font-family: 'Indie Flower', cursive;


}
.pen{
  color: red
}
.line{
  color: blue
}
.bear{
  color: yellow
}
i {
  color: #f44242
}
p:hover {
  color: #4286f4;
  font-size: 25px;
}
@media (min-width: 400px) and (max-width: 800px) {
  body{
    background-color: red;
  }
}
@media (min-width: 800px){
  body{
    background-color: lightblue;
  }
}
@media print{
  /* CSS код*/
}
